@media (max-width: 1200px) {
  .articles--index {
    gap: 20px;
  }
  .article--big .article__header,
  .article__header {
    font-size: 24px;
  }
}

@media (max-width: 1100px) {
  .promo {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 30px;
  }
  .banner__text {
    font-size: 14px;
  }
  .banner .button {
    font-size: 14px;
  }
  .banners .progressbar {
    display: none;
  }
  .products__category__wrapper {
    flex: 0 0 33.333%;
  }
  .brands__content {
    flex: 0 0 300px;
  }
  .promo__header {
    flex-direction: column;
  }
  .promo__header__deliver {
    height: 2px;
    width: 100%;
    max-width: 60px;
  }
  .promo__title span {
    display: inline;
  }
  .article--big .article__footer,
  .article__footer,
  .article__footer .link {
    font-size: 14px;
  }
  .article--big {
    padding: 20px;
    width: 100%;
    padding-top: 150px;
  }
  .articles {
    flex-direction: column;
  }
  .contacts__content__block__value,
  .contacts__content__block__value a {
    font-size: 18px;
  }
  .contacts {
    justify-content: inherit;
  }
  .contacts__content {
    padding: 0;
    flex: 0 0 50%;
    &__inner {
      padding: 20px;
      max-width: 100%;
    }
  }
  .contacts__map {
    display: none;
    &--mobile {
      display: block;
    }
  }
  .contacts__content__block__value .icon {
    margin-top: 0;
  }
  .manufacturers__list{
    --items: 3;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 25px;
    padding-bottom: 80px;
  }
  .banners .swiper-button-prev,
  .banners .swiper-button-next {
    bottom: 20px;
  }
  .banners
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    display: none;
  }
  .products__category__wrapper {
    flex: 0 0 50%;
  }
  .brands--index {
    flex-direction: column;
    padding-top: 30px;
  }
  .brands__content {
    flex: 1;
    padding: 0 15px;
  }
  .brands .swiper-pagination:not(:empty) {
    margin-top: 20px;
  }
  .brands.slider .swiper-slide,
  .brand {
    width: 240px;
  }
  .article {
    flex-direction: column;
    &__footer {
      flex-direction: column;
      .link {
        margin-left: auto;
      }
    }
  }
  .article__image {
    width: 100%;
    padding-top: 30%;
  }
  .article--big .article__header,
  .article__header {
    font-size: 18px;
  }
  .contacts {
    flex-direction: column;
    &__map {
      &--mobile {
        flex: 0 0 300px;
      }
    }
  }
  .contacts__content__block {
    padding: 15px 0;
  }
  .decorator_background {
    min-height: 0;
  }
  .decorator_background + .decorator_background_next_top {
    margin-top: -240px;
  }
  .about__block {
    flex-direction: column;
  }
  .about__block--second .about__block__image,
  .about__block--third .about__block__image {
    padding-top: 40%;
    width: 100%;
  }
  .about__block--second .content {
    padding: 30px;
    font-size: 16px;
  }
  .about__block--second .content:before,
  .about__block--second .content:after {
    display: none;
  }
  .about__block__title {
    font-size: 18px;
  }
  .manufacturers__list {
    --items: 2;
  }
}

@media (max-width: 500px) {
  .products__category__wrapper {
    flex: 0 0 100%;
  }
  .promo__title {
    text-align: center;
    .title {
      font-size: 24px;
    }
  }
  .promo__list {
    &__item {
      flex-direction: column-reverse;
      text-align: center;
      &__title {
        font-size: 18px;
      }
    }
  }

  .manufacturers__list {
    --items: 1;
  }
}
