.favorite {
  &__header__counter {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--black);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--theme);
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    &[data-count='0'] {
      transform: scale(0);
    }
  }
  &__add {
    transition: all 0.3s;
    &--active {
      background-color: var(--theme);
      color: var(--white);
    }
  }
  &__top {
    display: inline-flex;
    font-size: 16px;
    color: var(--gray-light);
    align-items: center;
    padding: 30px;
    background-color: var(--background);
    margin-bottom: 20px;
    gap: 10px;
    font-weight: 500;
    flex-wrap: wrap;
    .favorite {
      &__clear {
        margin-left: 20px;
      }
    }
  }
  &__count {
    color: var(--theme);
  }
  &__clear {
    color: var(--gray-light);
    font-size: 16px;
    line-height: 1em;
    display: flex;
    align-items: center;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    padding: 10px 15px;
    cursor: pointer;
    gap: 10px;
    .icon {
      width: 24px;
      height: 24px;
      transition: all 0.3s;
    }
    &:hover {
      .icon {
        color: var(--theme);
      }
    }
  }
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .favorite__top {
    padding: 15px;
  }
  .favorite__top .favorite__clear {
    margin-left: 0px;
    padding: 5px 10px;
  }
}

@media (max-width: 500px) {
}
