.favorite{
  &__add{
    transition: all 0.3s;
    &--active{
      color: var(--theme);
    }
  }
  &__list{
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 40px 0;
  }
  &__top{
    display: flex;
    font-size: 16px;
    color: var(--gray);
    align-items: center;
    .favorite{
      &__count{
        margin-left: 15px;
      }
      &__clear{
        margin-left: 20px;
      }
    }
  }
  &__count{
    color: var(--gray-dark);
    font-weight: 600;
    font-size: 16px;
  }
  &__clear{
    display: flex;
    color: var(--black);
    font-size: 16px;
    line-height: 1em;
    display: flex;
    align-items: center;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    cursor: pointer;
    .icon{
      margin-left: 10px;
      width: 20px;
      height: 20px;
      transition: all 0.3s;
    }
    &:hover{
      .icon{
        color: var(--theme);
      }
    }
  }
}