.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 5;
  transition: all 0.3s;
  transition-delay: 0.3s;
  background-color: var(--gray-dark);
  &__inner {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
  }
  &__deliver {
    width: 2px;
    background: var(--gray);
    height: 50px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    .header__deliver {
      display: none;
    }
  }
  &__button {
    display: block;
    background-color: transparent;
    padding: 0;
    text-align: center;
    border: none;
    cursor: pointer;
    &__icon {
      display: inline-block;
      width: 24px;
      color: var(--theme);
      position: relative;
      svg {
        width: 100%;
        height: auto;
      }
    }
    &__label {
      color: var(--white);
      text-align: center;
      font-weight: 500;
      font-size: 13px;
      line-height: 1em;
      margin-top: 5px;
      transition: all 0.3s;
    }
    &:hover {
      .header__button__label {
        color: var(--theme);
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.scrolled {
  .header {
    background-color: var(--gray-dark);
  }
}

.cart-visible,
.search-visible,
.navigation-visible {
  .header {
    box-shadow: 0 0 500px 100px var(--black);
    background-color: var(--background-dark);
  }
}

.sidebar {
  position: fixed;
  top: 80px;
  height: calc(100% - 80px);
  width: 100%;
  max-width: 320px;
  right: 0;
  z-index: 5;
  background-color: var(--background-dark);
  padding: 15px;
  border-top: 3px solid var(--theme);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: all 0.3s;
  &__main {
    flex: 1;
    overflow: auto;
  }
  .socials {
    padding-top: 15px;
    margin-top: 15px;
    justify-content: center;
    border-top: 2px solid var(--theme);
  }

  .navigation {
    padding: 0;
    ul {
      gap: 10px;
      flex-direction: column;
      li {
        text-align: center;
        a {
          display: inline-block;
        }
      }
    }
  }
}

.navigation-visible {
  .sidebar {
    transform: translateX(0);
  }
}

@media (min-width: 1201px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header {
    &__inner {
      padding: 10px 0;
    }
    .logo img {
      max-height: 60px;
    }
    .navigation,
    &__deliver,
    .socials {
      display: none;
    }
    .toggle {
      display: block;
    }
    &__buttons {
      .header__deliver {
        display: block;
      }
    }
  }
}

@media (max-width: 600px) {
  .header__buttons {
    gap: 10px;
  }
  .header .toggle {
    padding: 0;
  }
}

@media (max-width: 520px) {
  .header {
    &__button {
      font-size: 0;
      &__label {
        display: none;
      }
    }
    &__deliver {
      height: 40px;
    }
    .sites__button {
      padding: 0;
      &__icon {
        width: 18px;
        height: 18px;
      }
      &,
      &:hover {
        background-color: transparent;
        color: var(--theme);
      }
    }

    .logo img {
      max-height: 40px;
    }
    .toggle__inner {
      width: 25px;
      height: 23px;
    }
  }
  .sidebar {
    top: 60px;
    height: calc(100% - 60px);
  }
}

@media (max-width: 350px) {
  .header {
    .favorite__button {
      display: none;
    }
  }
}
