.manufacturer {
  &s {
    &__list {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
      --items: 5;
      --gap: 30px;
      gap: var(--gap);
      .preview {
        flex-shrink: 0;
        width: calc(
          100% / var(--items) - ((var(--items) - 1) * var(--gap)) / var(--items)
        );
      }
    }
    &--index {
      background-color: var(--black);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      @media (max-width: 991px) {
        background-attachment: unset;
      }
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .manufacturers__list {
        position: relative;
        max-width: 460px;
        display: block;
        .preview {
          width: auto;
        }
      }
    }
    &__text {
      margin: 25px 0;
      color: var(--white);
    }
    .slider {
      &__inner {
        padding: 0;
        position: static;
      }
      .swiper-button-prev,
      .swiper-button-next {
        bottom: 0;
        top: auto;
        left: auto;
        right: auto;
        &.swiper-button-lock {
          display: none;
        }
      }
      .swiper-button-next {
        left: 40px;
      }
    }
    &__link {
      display: flex;
      justify-content: flex-end;
      margin-top: 40px;
      padding-left: 80px;
      .link {
        transform: translateY(-50%);
      }
    }
  }
}
