.products {
  &__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
  }
  &__category {
    display: block;
    height: 100%;
    position: relative;
    background: var(--black);
    overflow: hidden;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.4;
      transition: all 0.3s;
    }
    &__wrapper {
      flex: 0 0 25%;
      padding: 10px;
    }
    &__inner {
      position: relative;
      z-index: 3;
      padding: 15px 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;
      box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.11);
      &__top {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
    &__name {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: var(--black);
      transition: all 0.3s;
    }
    &__description {
      color: var(--gray-light);
      font-size: 16px;
      transition: all 0.3s;
      p {
        margin: 0;
      }
    }
    &__image {
      text-align: center;
      transition: all 0.3s;
      img {
        max-width: 200px;
        width: 100%;
        height: auto;
      }
    }
    .link {
      display: flex;
      font-weight: 700;
      font-size: 14px;
      color: var(--theme);
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      &:after {
        width: 15px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: var(--theme);
      z-index: 2;
      transition: all 0.3s;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      z-index: 1;
      transition: all 0.3s;
    }
    &:hover {
      .products {
        &__category {
          &__background {
            transition-delay: 0.6s;
            transform: scale(1.1);
          }
          &__image {
            opacity: 0;
          }
          &__name,
          &__description {
            color: var(--white);
          }
        }
      }
      .link {
        &:after {
          transform: translateX(-15%);
        }
      }
      &:after {
        transition: all 0.6s;
        height: 0px;
      }
      &:before {
        transition-delay: 0.6s;
        height: 6px;
      }
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    &:not(:empty) + .empty {
      display: none;
    }
  }
  &--cart {
    .list {
      flex-direction: column;
    }
  }
  &--search {
    .list {
      gap: 15px;
      flex-wrap: wrap;
    }
    .product {
      flex: 0 0 calc(33.3333% - 15px + 15px / 3);
    }
  }
  &--archive {
    .list {
      gap: 80px;
    }
    .product {
      flex: 0 0 calc(25% - 80px + 80px / 4);
    }
  }
  &--inventory {
    .list {
      gap: 20px;
    }
    .product {
      flex: 0 0 calc(25% - 20px + 20px / 4);
    }
  }
}

// .woocommerce-Price-currencySymbol {
//   margin-left: 0.2em;
// }

.product {
  padding: 40px 0 0px 0;
  border-top: 1px solid var(--gray-dark);
  &__image {
    text-align: center;
    font-size: 0;
    margin-bottom: 64px;
    a {
      display: inline-block;
    }
  }
  &__prices {
    display: flex;
    flex-wrap: wrap;
    color: var(--gray-dark);
    font-size: 24px;
    font-weight: 600;
    gap: 10px;
  }
  &__title {
    margin: 20px 0;
    a {
      color: var(--gray);
      font-size: 18px;
      transition: all 0.3s;
      &:hover {
        color: var(--theme);
      }
    }
  }
  &__price {
    &--old {
      text-decoration: line-through;
      color: var(--gray-light);
      font-size: 18px;
      .woocommerce-Price-currencySymbol {
        display: none;
      }
    }
  }
  &__buttons {
    display: flex;
  }
  &__button {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    cursor: pointer;
    padding: 0;
    .icon {
      width: 24px;
      height: 24px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  &--cart,
  &--search,
  &--page {
    border-top: none;
    .product {
      &__image {
        margin-bottom: 0;
      }
      &__title {
        margin: 0;
      }
    }
  }
  &--inventory {
    border-top: none;
    padding-top: 0;
    .product {
      &__image {
        margin-bottom: 20px;
        background-color: var(--background-second);
        a {
          display: block;
          img {
            max-width: 100%;
            width: auto;
          }
        }
      }
      &__title {
        margin: 0;
        a {
          font-family: druk;
          color: var(--gray-dark);
          color: 18px;
          &:hover {
            color: var(--theme);
          }
        }
      }
    }
  }
  &--cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    gap: 15px;
    border-bottom: 1px solid var(--border-color);
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      border-top: 1px solid var(--border-color);
    }
    .product {
      &__image {
        flex: 0 0 110px;
        max-width: 200px;
      }
      &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        &__row {
          gap: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          &:first-child {
            flex-wrap: nowrap;
          }
        }
      }
    }
    .product {
      &__title {
        flex: 1;
        a {
          display: block;
          text-transform: uppercase;
          color: var(--gray-dark);
          transition: all 0.3s;
          &:hover {
            color: var(--theme);
          }
        }
      }
      &__qty {
        display: flex;
        gap: 8px;
        align-items: center;
        color: var(--black);
        font-size: 12px;
        font-weight: 700;
      }
      &__remove {
        flex: 0 0 16px;
        background: transparent;
        border: transparent;
        color: var(--gray-lightest);
        padding: 0;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: auto;
        .icon {
          transition: all 0.3s;
          svg {
            stroke-width: 3px;
          }
        }
        &:hover {
          .icon {
            transform: rotate(90deg);
          }
        }
      }
      &__price {
        font-size: 24px;
        font-weight: 600;
        color: var(--gray-dark);
        margin-right: 0;
        flex: 1;
        text-align: right;
      }
    }
  }
  &--search {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 15px;
    .product {
      &__image {
        flex: 0 0 160px;
        max-width: 160px;
      }
      &__info {
        flex: 1;
      }
      &__title {
        margin-bottom: 15px;
        a {
          color: var(--gray);
          line-height: 1.5em;
          font-size: 18px;
          transition: all 0.3s;
          text-transform: uppercase;
          &:hover {
            color: var(--theme);
          }
        }
      }
    }
  }
  &--page {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
    .product {
      &__gallery {
        flex: 1;
      }
      &__info {
        flex: 0 0 630px;
        margin-left: 75px;
      }
      &__title {
        h1 {
          font-family: druk;
          font-size: 36px;
          text-transform: uppercase;
        }
      }
      &__price {
        &s {
          margin-bottom: 30px;
        }
        font-size: 36px;
        &--old {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
  &__gallery {
    display: flex;
    &__thumbs {
      flex: 0 0 140px;
      margin-right: 40px;
      font-size: 0;
    }
    &__thumb {
      margin-bottom: 40px;
      position: relative;
      cursor: pointer;
      img {
        width: 100%;
        height: auto;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--gray-extra-light);
        opacity: 0.5;
        transition: all 0.3s;
      }
      &:before {
        background-color: var(--black);
        opacity: 0.8;
        display: none;
      }
      .video__control {
        width: 88px;
        height: 88px;
        pointer-events: none;
        &:after {
          width: 70%;
          height: 70%;
        }
      }
      &[data-type='video'] {
        &:before {
          display: block;
        }
      }
      &[data-active] {
        cursor: default;
        &:after {
          opacity: 0;
        }
      }
    }
    &__items {
      flex: 1;
    }
    &__item {
      display: none;
      &[data-active] {
        display: block;
      }
    }
  }
  &__cart {
    display: flex;
    .cart__add {
      flex: initial;
      width: auto;
      &__default,
      &__active {
        padding: 20px 40px;
      }
    }
  }
  &__sku {
    font-size: 16px;
    color: var(--gray);
    line-height: 1em;
    margin-top: 20px;
  }
  &__scroller {
    display: inline-flex;
    align-items: center;
    color: var(--gray-dark);
    font-weight: 600;
    margin-top: 30px;
    .icon {
      margin-left: 20px;
      width: 24px;
      color: var(--black);
      transform: rotate(90deg);
      transition: all 0.3s;
    }
    &:hover {
      .icon {
        transform: rotate(90deg) translateX(5px);
      }
    }
  }
  &__attribute {
    &s {
      display: flex;
      flex-wrap: wrap;
      gap: 0 100px;
    }
    flex: 0 0 50%;
    max-width: 630px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: var(--gray-dark);
    padding: 30px 0;
    border-bottom: 1px solid var(--border-color);
    &__label,
    &__value {
      flex: 0 0 50%;
    }
    &__label {
      font-weight: 600;
    }
    &__value {
      max-width: 210px;
    }
    &:nth-last-child(1) {
      border-bottom: none;
      padding-bottom: 0;
    }
    &s {
      &--even {
        .product__attribute {
          &:nth-last-child(2) {
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .products--search .product {
    flex: 0 0 calc(50% - 15px + 5px);
  }
}

@media (max-width: 768px) {
  .product--search {
    flex-direction: column;
    .product__image {
      flex: auto;
    }
  }
}

@media (max-width: 580px) {
  .product--cart .product__price,
  .cart__totals > span,
  .product__prices {
    font-size: 18px;
  }
  .product__price--old {
    font-size: 14px;
  }
  .product__qty__label {
    display: none;
  }
}

@media (max-width: 400px) {
  .products--search .product {
    flex: 0 0 100%;
  }
}

@media (max-width: 400px) {
  .product--cart .product__price {
    flex: 0 0 100%;
  }
}

@media (max-width: 340px) {
  .product--cart {
    flex-direction: column;
    .product__image {
      flex: auto;
    }
  }
}
