.sites {
  &__button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 25px;
    background-color: var(--theme);
    font-size: 13px;
    line-height: 1em;
    padding: 5px 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    max-width: 165px;
    &__icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
    &__label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      background-color: var(--black);
      color: var(--theme);
    }
  }
  &__item {
    color: var(--theme);
    a {
      color: var(--gray-dark);
      outline: none !important;
      transition: all 0.3s;
      &:hover{
        color: var(--theme);
      }
    }
  }
  &__modal {
    .sites {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 15px;
      &__item {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
